*
{
    margin: 0;
    padding: 0;
}


body{
    font-family:sans-serif;
    
    

}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to left, #667db6,#0082c8 ,#FFFFFF,#FFFFFF);
    padding: 0 !important;
}
navbar-brand img{
        height: 40px;
        padding-left: 20px;
} 
.navbar-nav li{
    padding: 0 10px;

}
.navbar-nav li a{
    color:#fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars{
    color: #fff !important;
    font-size: 30px !important;
}
.nav-bar-toggler
{
    outline: none !important;
}
/*----loader-----*/
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}





/*---------------banner--------*/
#banner
{
    background-image: linear-gradient(to left, #667db6,#0082c8 ,#FFFFFF,#FFFFFF);
    color: rgb(0, 0, 0);
    padding-top: 5% ;
}
.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.image1 {
    width: 100%;
    height: auto;
  }


/*-------services-----*/
#services
{
    padding: 80px 0;
} 
.service-img{
     width: 100px;
     margin-top: 20px; 
    
}
.services{
    padding: 50px;

}
.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
/*
.polaroid {
    width: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } */  
  
  .title::before
  {
     content: '';
     background: #0082c8;
     height: 5px;
     width: 200px;
     margin-left: auto;
     margin-right: auto;
     display: block;
     transform: translateY(63px);
         
  }

  .title::after
  {
     content: '';
     background: #0082c8;
     height: 10px;
     width: 50px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 40px ;
     display: block;
     transform: translateY(8px);
         
  }

  .title-h3::before
  {
     content: '';
     background: #0082c8;
     height: 5px;
     width: 200px;
     margin-left: auto;
     margin-right: auto;
     display: block;
     transform: translateY(50px);
         
  }

  .title-h3::after
  {
     content: '';
     background: #0082c8;
     height: 10px;
     width: 50px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 40px ;
     display: block;
     transform: translateY(8px);
         
  }

  #services .btn-primary{
      box-shadow: none;
      padding: 8px 25px;
      border: none;
      border-radius: 20px;
      background-image: linear-gradient(to left,#000046,#1CB5E0);
  }

  /*------ABOUT US------*/

  #about-us{
      background: #EAF0F1;
      padding-top: 50px;
      padding-bottom: 50px;
          
  }

  .about-title{
       font-size: 40px;
       font-weight: 600;
       margin-top: 8%;
  }
 #about-us ul li{
      margin: 10px 10px;
 }

 /*----client---------*/

 .client{
     border-left: 4px solid #0082c8;
     margin-top: 50px;
     margin-bottom: 50px;
 }
 .client img{
     height: 60px ;
     width: 60px;
     border-radius:50% ;
     margin:0 10px ;
 }
 .user-details{
     display: inline-block;
     font-size:12px ;
 }

 #footer{
    background-image: linear-gradient(to left,#000046,#1CB5E0);
    
    left: 0;
    bottom: 0;
    width: 100%;

 }
 .footer-box{
     padding: 20px;
 }
 .footer-box p{
    color:#fff !important;
    font-weight: 400;
 }
 .copyright p{
     
    color:#fff !important;
    font-weight: 400;
}
.copyright{
    margin-bottom: 0;
}
 hr{
     background-color: #fff;
 }
 .header-color{
    background-image: linear-gradient(to left, #667db6,#0082c8 ,#FFFFFF,#FFFFFF);

 }
 .header-color p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;


 }
 .drop-color{
     background-image: #0082c8;
    float: right;
    text-align: left
 }
 .drop-color p{
    font-size: 15px;
    float: right;
    text-align: right
 }
 /*--------social media section*/

 #socal-media
 {
    background-image: linear-gradient(to left, #667db6,#0082c8 ,#FFFFFF,#FFFFFF);
      padding: 100px 0;
 }
 #socal-media p{
     font-size: 36px;
     font-weight: 600;
     margin-bottom: 30px;
 }
 .social-icon img{
     width: 60px ;
     transition: 0.5s;
 }
 .social-icon a:hover img{
     transform: translateY(-10px );
 }
 .abouth3 {
    width: 100%;
    background: #F5F3F3;
    font-size: 18px;
    color: #666;
    border-radius: 5px;
    padding: 10px 0px 10px 15px;
    margin: 15px 0 15px 0px;
}
.boxer {
    padding: 10px 10px 10px 10px;
    background: #fff;
    box-shadow: 0 0 8px #A8A6A6;
    border-radius: 5px;
}